@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-button {
      background-color: #ff4d4f;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .remove-button:hover {
      background-color: #ff7875;
    }
    
.add_Taks-button {
      background-color:cyan;
      color:cyan-400;
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .add_Taks-button:hover {
      background-color: rgb(93, 146, 146);
    }
    